:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --logo-text-color: #4d5ae5;
  --primary-bg-color: #ffffff;
  --accent-color: #ffffff;
  --button-bg-color: #f4f4fd;
  --pr-button-text-color: #ffffff;
  --pr-button-bg-color: #4d5ae5;
  --sc-button-text-color: #4d5ae5;
  --sc-button-bg-color: #f4f4fd;
  --button-active: #404BBF;
  --accent-bg-color: #2E2F42;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--logo-text-color);
}


.link:active {
  color: var(--primary-text-color);
}

body {
  width: 1440px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  
  font-size: 16px;

}

/*Header*/
.page-header {

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}


section {
  padding-top: 120px;
  padding-bottom: 120px;
}


.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}


.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}

.page-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.page-contact-email {
  margin-right: 40px;
}

.logo {
  margin-right: 77px;
}

.page-item:not(:last-child) {
  margin-right: 40px;

}


.logo {

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  
  color: var(--title-text-color);
  text-decoration: none;
}

.logo-web {
  color: var(--logo-text-color);
}

/*Page nav*/

.page-nav .link {

  color:var(--title-text-color) ;
  font-weight: 500;

}

.page-nav:hover,
.page-nav:focus {
  color: var(--primary-text-color);
}


.page-nav:active{
  color: var(--sc-button-text-color);
}

/*Hero*/


.hero {
  background-color: var(--accent-bg-color) ;
  padding-top: 192px;
  padding-bottom: 192px;
}

.hero-title {

  color: var(--accent-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
}


/*Button*/
.order-button {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;


  padding: 16px 32px;

  font-family: inherit;

  font-weight: 700;
  color: var(--accent-color);
  background-color: var(--pr-button-bg-color);
  

  font-size: 16px;
  line-height: 1.2;

  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  border-radius: 4px;
}

.hero .order-button:hover,
.hero .order-button:focus {
  color: var(--button-bg-color);
  background-color: var(--pr-button-bg-color);
}

.hero .order-button:active {
  color: var(--pr-button-text-color);
  background-color: var(--button-active);
}


/*Features*/

.features-container {
  display: flex;
}

.features .title {
  color:var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}


.item:not(:last-child) {
  margin-right: 24px ;
}

.title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--accent-bg-color);
}

.text {
  font-weight: 400;
  color: var(--accent-bg-color);
  line-height: 1.5;

}

/*Filters*/

.filters {
  font-weight: 700;
  letter-spacing: 0.04em;
  padding-top: 96px;
  padding-bottom: 72px;

}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 72px;

}

.visually-hidden { 
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
} 

/*Button*/

.button {

  color: var(--pr-button-text-color);
  background-color: var(--button-bg-color);

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;

  border: 1px solid #E7E9FC;
  border-radius: 4px;
}

.button.primary {
  color: var(--pr-button-text-color);
  background-color: var(--pr-button-bg-color);
}

.button.secondary {
  color: var(--sc-button-text-color);
  background-color: var(--sc-button-bg-color);
}



.button.primary:hover,
.button.primary:focus,
.button.secondary:hover,
.button.secondary:focus {
  color: var(--accent-color);
  background-color: var(--pr-button-bg-color);

}


.button.primary:active,
.button.secondary:active {
  color: #ffffff;
  background-color: var(--button-active);
}



/*Works*/

.work-list  {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


/*Work set*/

.work-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

}

.set-item {
  flex-basis: calc((100% - 48px) / 3);
}



.item-wrap {
  border: 0.5px solid #F4F4FD;
  padding: 32px 16px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


/*Team*/



.section-title {
  
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;


  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;

}

.section-work {
  background-color: #F4F4FD;
}

.member-list {
  display: flex;
  
}

.member {
  padding: 16px 32px;
  background-color: var(--primary-bg-color);
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.position {
  text-align: center;
}




/*Footer*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  
  background-color: var(--title-text-color);

}

.footer-text {
  width: 264px;
  left: 156px;
  top: 2421px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  padding-top: 16px;

  color: #e7e9fc;
}

.logo-footer {
  padding-bottom: 16px;
}

.logo-studio {
  color: #f4f4fd;
}